.userslist {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
}

.photoUserList {
    width: 100px;
    height: 100px;
}

.pagination {
    font-size: 26px;
}

.selectedPage {
    font-weight: bold;
    font-size: 36px;
}