.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItems {
    color: darkmagenta;
    padding: 10px;
}

.dialogItems .active {
    color: chartreuse;
}

.messages {
    padding: 10px;
}

.messages .message {

}

